@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import "tailwindcss";

/* Apply fonts globally */
* {
  font-family:'Outfit', sans-serif;
}

/* Placeholder text style for elements with this class */
.placeholder-color::placeholder {
  color: #e0e0e0;
  font-weight: 300;
}
